Repository owkin/plism-benchmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.27.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: \.ipynb$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        name: Format yaml files using `prettier`
        files: \.(yaml|yml)$
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
      - id: poetry-check
        name: Run poetry check to validate configuration
  - repo: local
    hooks:
      # Linter
      - id: ruff-linter
        name: Lint with `ruff`
        language: system
        types: [python]
        require_serial: true
        entry: poetry run ruff check
        args: [--fix]
        files: ^(plismbench|tests)/
      # Formatter
      - id: ruff-format
        name: Format with `ruff`
        language: system
        types: [python]
        require_serial: true
        entry: poetry run ruff format
        files: ^(plismbench|tests)/
      # Type checker
      - id: mypy
        name: Test typing with `mypy`
        language: system
        types: [python]
        require_serial: true
        entry: poetry run mypy
        files: ^plismbench/
      # Jupyter notebook formatter
      - id: jupyter-nb-clear-output
        name: Clear Jupyter notebook outputs
        files: \.ipynb$
        language: system
        entry: poetry run jupyter nbconvert
        args: [--ClearOutputPreprocessor.enabled=True, --inplace]

Configure CI, remove Owkin's private mentions.
  .github/workflows/page.yml
  .github/workflows/publish.yml
  .github/workflows/python-app.yml
  Makefile
  docs/conf.py
  docs/contributing.rst
  plismbench/engine/cli.py
  plismbench/engine/extract.py
Due: ruff-linter, ruff-format, mypy

Test CI on local branch.
  plismbench/engine/inference/__init__.py
  plismbench/engine/trainer/__init__.py
Due: ruff-linter, ruff-format, mypy

Fix docs.
  .github/workflows/python-app.yml
  Makefile
  plismbench/engine/cli.py
  plismbench/models/__init__.py
  plismbench/models/owkin.py
Due: ruff-linter, ruff-format, mypy

Change login to HF
  .github/workflows/python-app.yml
Due: none

Add CODEOWNERS.
  CODEOWNERS
Due: none

Update workflow for doc
  .github/workflows/page.yml
Due: none

Enable github pages
  plismbench/engine/cli.py
  plismbench/models/owkin.py
Due: ruff-linter, ruff-format, mypy

Change to .h5 dataset
  plismbench/engine/cli.py
  plismbench/engine/extract.py
  plismbench/models/extractor.py
  plismbench/models/owkin.py
  poetry.lock
  pyproject.toml
Due: ruff-linter, ruff-format, mypy

Fix test.
  plismbench/engine/extract.py
  plismbench/models/extractor.py
  plismbench/models/owkin.py
  tests/models/test_owkin.py
Due: ruff-linter, ruff-format, mypy

Add metrics.
  scripts/compute_metrics.sh
Due: none

Add metrics.
  Makefile
  assets/tiles_subset_2713.npy
  assets/tiles_subset_5426.npy
  assets/tiles_subset_8364.npy
  plismbench/engine/cli.py
  plismbench/engine/evaluate.py
  poetry.lock
  pyproject.toml
  scripts/compute_metrics.sh
Due: ruff-linter, ruff-format, mypy

Add metrics aggregation.
  .pre-commit-config.yaml
  assets/tiles_subset_460.npy
  assets/tiles_subset_8139.npy
  plismbench/engine/evaluate.py
  plismbench/utils/aggregate.py
  plismbench/utils/core.py
  plismbench/utils/evaluate.py
  poetry.lock
  pyproject.toml
  scripts/compute_metrics.sh
  scripts/evaluate.sh
Due: ruff-linter, ruff-format, mypy

Update README.
  README.md
  docs/contributing.rst
  plismbench/engine/cli.py
  plismbench/engine/evaluate.py
  plismbench/utils/aggregate.py
  tests/data/__init__.py
  tests/data/build.py
  tests/data/io/__init__.py
  tests/data/transforms/__init__.py
  tests/logger/__init__.py
  tests/losses/__init__.py
  tests/metrics/__init__.py
  tests/optim/__init__.py
Due: ruff-linter, ruff-format, mypy

Add fancy header
  README.md
Due: none

Add owkin color in header
  README.md
Due: none

Fix readme
  README.md
Due: none

Push notebook.
  README.md
  notebooks/visualization.ipynb
  plismbench/utils/metrics.py
  plismbench/utils/viz.py
  poetry.lock
  pyproject.toml
  tests/viz/__init__.py
Due: ruff-linter, ruff-format, mypy, jupyter-nb-clear-output

Remove weights.
  .gitattributes
  README.md
  notebooks/visualization.ipynb
  plismbench/models/__init__.py
  plismbench/models/owkin.py
  plismbench/models/utils.py
  plismbench/utils/metrics.py
  plismbench/utils/viz.py
  poetry.lock
  pyproject.toml
Due: ruff-linter, ruff-format, mypy, jupyter-nb-clear-output

Add weights
  weights/h0_mini.pth
Due: none

Update todo.
  README.md
  notebooks/visualization.ipynb
  plismbench/engine/evaluate.py
  plismbench/metrics/__init__.py
  plismbench/models/bioptimus.py
  plismbench/utils/metrics.py
  plismbench/utils/viz.py
  plismbench/viz/__init__.py
  tests/engine/__init__.py
  tests/engine/inference/__init__.py
  tests/engine/trainer/__init__.py
  tests/models/test_bioptimus.py
  tests/utils/__init__.py
Due: ruff-linter, ruff-format, mypy, jupyter-nb-clear-output

Fix import
  plismbench/models/__init__.py
Due: ruff-linter, ruff-format, mypy

Anonymize root_dir
  README.md
  assets/figure.png
  notebooks/visualization.ipynb
Due: jupyter-nb-clear-output

Fix error with h0_mini location in test
  README.md
  plismbench/models/bioptimus.py
Due: ruff-linter, ruff-format, mypy

Try weights_only=False
  plismbench/models/bioptimus.py
Due: ruff-linter, ruff-format, mypy

Add git lfs in ci
  .github/workflows/python-app.yml
  plismbench/models/bioptimus.py
Due: ruff-linter, ruff-format, mypy

Add anonymized version of main.
  README.md
  docs/conf.py
  docs/contributing.rst
  plismbench/engine/cli.py
  plismbench/models/xxxx.py
  pyproject.toml
  scripts/evaluate.sh
  tests/models/test_xxxx.py
Due: ruff-linter, ruff-format, mypy

Update h0_mini mentions.
  Makefile
  plismbench/models/bioptimus.py
  plismbench/models/utils.py
  poetry.lock
  pyproject.toml
  scripts/evaluate.sh
  tests/models/test_bioptimus.py
Due: ruff-linter, ruff-format, mypy

Add leaderboard and streaming.
  README.md
  notebooks/visualization.ipynb
  plismbench/engine/cli.py
  plismbench/engine/evaluate.py
  plismbench/engine/extract/__init__.py
  plismbench/engine/extract/core.py
  plismbench/engine/extract/extract_from_h5.py
  plismbench/engine/extract/extract_from_png.py
  plismbench/engine/extract/utils.py
  plismbench/models/bioptimus.py
  plismbench/utils/evaluate.py
  plismbench/utils/metrics.py
  poetry.lock
  pyproject.toml
Due: ruff-linter, ruff-format, mypy, jupyter-nb-clear-output

Remove dummy file and change import
  plismbench/core.py
  plismbench/engine/cli.py
Due: ruff-linter, ruff-format, mypy

glob and assert in extract
  plismbench/engine/extract.py
Due: ruff-linter, ruff-format, mypy

Add Retrieval and test metrics
  plismbench/engine/evaluate.py
  plismbench/metrics/__init__.py
  plismbench/metrics/base.py
  plismbench/metrics/cosine_similarity.py
  plismbench/metrics/retrieval.py
  tests/metrics/test_cosine_similarity.py
  tests/metrics/test_retrieval.py
Due: ruff-linter, ruff-format, mypy

Fix mixed precision and subset of tiles
  plismbench/engine/evaluate.py
  plismbench/metrics/base.py
  plismbench/metrics/cosine_similarity.py
  plismbench/metrics/retrieval.py
Due: ruff-linter, ruff-format, mypy

Update doc
  docs/contributing.rst
  docs/usage/data.rst
  docs/usage/models.rst
Due: none

remove usage.rst doc
  docs/usage.rst
Due: none

Number list
  docs/contributing.rst
Due: none

Fix make test-docs
  docs/contributing.rst
Due: none

Update lock file and fix test in full precision
  poetry.lock
  tests/metrics/test_cosine_similarity.py
Due: ruff-linter, ruff-format

Update CI to also install cupy
  .github/workflows/python-app.yml
Due: none

Mark some tests local for cupy
  Makefile
  docs/contributing.rst
  tests/metrics/test_cosine_similarity.py
  tests/metrics/test_retrieval.py
Due: ruff-linter, ruff-format

Try with pip installation for cupy
  Makefile
Due: none
