Repository owkin/plism-benchmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, jupyter-nb-clear-output

ruff:
  name: Check linting with `ruff`
  language: system
  require_serial: true
  entry: poetry run ruff check
  args:
  - --fix

ruff-format:
  name: Format files with `ruff`
  language: system
  require_serial: true
  entry: poetry run ruff format

mypy:
  name: Test typing with `mypy`
  language: system
  require_serial: true
  entry: poetry run mypy

jupyter-nb-clear-output:
  name: Clear Jupyter notebook outputs
  language: system
  entry: poetry run jupyter nbconvert
  args:
  - --ClearOutputPreprocessor.enabled=True
  - --inplace

try cupy import
  Makefile
  plismbench/metrics/base.py
Due: ruff, ruff-format, mypy

Minor updates
  plismbench/engine/evaluate.py
  plismbench/metrics/base.py
  pyproject.toml
  pytest.ini
  tests/metrics/test_cosine_similarity.py
  tests/metrics/test_retrieval.py
  weights/h0_mini.pth
Due: ruff, ruff-format, mypy

Update lock file
  poetry.lock
Due: none

Fix mypy
  plismbench/utils/evaluate.py
Due: ruff, ruff-format, mypy

Fix `prepare_features_dataframe`
  plismbench/utils/evaluate.py
Due: ruff, ruff-format, mypy

Update README.md
  README.md
Due: none

AquaViT testing
  plismbench/models/__init__.py
  plismbench/models/owkin.py
Due: ruff, ruff-format, mypy

Add results for aqvit
  plismbench/utils/viz.py
Due: ruff, ruff-format, mypy

Add new feature extractors
  README.md
  plismbench/engine/extract/extract_from_h5.py
  plismbench/engine/extract/extract_from_png.py
  plismbench/engine/extract/utils.py
  plismbench/models/__init__.py
  plismbench/models/extractor.py
  plismbench/models/histai.py
  plismbench/models/hkust.py
  plismbench/models/kaiko_ai.py
  plismbench/models/mahmood_lab.py
  plismbench/models/microsoft.py
  plismbench/models/owkin.py
  plismbench/models/paige_ai.py
  plismbench/models/utils.py
  plismbench/utils/core.py
  poetry.lock
  pyproject.toml
  tests/models/test_histai.py
  tests/models/test_hkust.py
  tests/models/test_kaiko_ai.py
  tests/models/test_mahmood_lab.py
  tests/models/test_microsoft.py
  tests/models/test_owkin.py
  tests/models/test_paige_ai.py
Due: ruff, ruff-format, mypy

Add storage cleaning
  .github/workflows/page.yml
  .github/workflows/python-app.yml
Due: none

Add PLIP and DINOV2-giant
  .github/workflows/python-app.yml
  plismbench/models/__init__.py
  plismbench/models/meta.py
  plismbench/models/standford.py
  tests/models/test_meta.py
  tests/models/test_standford.py
Due: ruff, ruff-format, mypy

Remove cupy from CI
  .github/workflows/python-app.yml
Due: none

Change CI
  .github/workflows/page.yml
  .github/workflows/python-app.yml
Due: none

Add lunit small 8
  plismbench/models/__init__.py
  plismbench/models/lunit.py
  plismbench/models/mahmood_lab.py
  plismbench/utils/core.py
  tests/models/test_lunit.py
Due: ruff, ruff-format, mypy

Update README
  README.md
Due: none

Small fix with hibou models
  plismbench/engine/cli.py
  plismbench/models/__init__.py
Due: ruff, ruff-format, mypy

Fix midnight-12k
  plismbench/models/kaiko_ai.py
  plismbench/models/utils.py
Due: ruff, ruff-format, mypy

Simplify tests
  plismbench/engine/extract/extract_from_png.py
  plismbench/models/__init__.py
  plismbench/models/histai.py
  plismbench/models/mahmood_lab.py
  plismbench/models/owkin.py
  plismbench/models/standford.py
  plismbench/models/utils.py
  tests/models/test_bioptimus.py
  tests/models/test_extractors.py
  tests/models/test_histai.py
  tests/models/test_hkust.py
  tests/models/test_kaiko_ai.py
  tests/models/test_lunit.py
  tests/models/test_mahmood_lab.py
  tests/models/test_meta.py
  tests/models/test_microsoft.py
  tests/models/test_owkin.py
  tests/models/test_paige_ai.py
  tests/models/test_standford.py
Due: ruff, ruff-format, mypy

Refactor the precision module, add simplification
  README.md
  plismbench/models/__init__.py
  plismbench/models/bioptimus.py
  plismbench/models/histai.py
  plismbench/models/hkust.py
  plismbench/models/kaiko_ai.py
  plismbench/models/lunit.py
  plismbench/models/mahmood_lab.py
  plismbench/models/meta.py
  plismbench/models/microsoft.py
  plismbench/models/owkin.py
  plismbench/models/paige_ai.py
  plismbench/models/standford.py
  plismbench/models/utils.py
  tests/models/test_extractors.py
Due: ruff, ruff-format, mypy

Remove xformers dependency
  plismbench/models/__init__.py
  poetry.lock
  tests/models/test_extractors.py
Due: ruff, ruff-format, mypy

Minor correction
  plismbench/engine/extract/extract_from_png.py
  tests/models/test_extractors.py
Due: ruff, ruff-format, mypy

Refactoring of streaming resuming
  plismbench/engine/extract/extract_from_png.py
Due: ruff, ruff-format, mypy

Test streaming
  plismbench/engine/extract/extract_from_png.py
Due: ruff, ruff-format, mypy

Fix resume feature for streaming
  plismbench/engine/extract/extract_from_png.py
Due: ruff, ruff-format, mypy

Add midnight-12k results
  README.md
  plismbench/utils/viz.py
Due: ruff, ruff-format, mypy

Add figure
  assets/figure.png
Due: none

Add latest models
  .gitignore
  notebooks/visualization.ipynb
  plismbench/models/__init__.py
  plismbench/models/owkin.py
Due: ruff, ruff-format, mypy, jupyter-nb-clear-output

chore: pin GitHub Actions to commit SHAs
  .github/workflows/page.yml
  .github/workflows/publish.yml
  .github/workflows/python-app.yml
Due: none

Path conditions:
  ruff: any of: ^(plismbench|tests|scripts)/ and \.py$
  ruff-format: any of: ^(plismbench|tests|scripts)/ and \.py$
  mypy: any of: ^plismbench/ and \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
